:root{
    --mainColor: #f9004d;
    --blackColor: #101010;
    --blackColor2: #191919;
    --grayColor: hsla(0,0%,100%,.6);
    --skyColor: #4db5ff;
    --whiteColor: white;
    /* var(--..ColorName..) */
}

.Skills{
    background-color: var(--blackColor);
    width: 100%;
    height: fit-content;
}

.SkillsTitle{
    text-align: center;
    font-size: 75px;
    color: var(--whiteColor);
    font-family: 'Times New Roman', Times, serif;
    padding: 3%;
}

.SkillsChild{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.SubChild{
    background-color: var(--blackColor2);
    width: 300px;
    height: 65vh;
    border-radius: 15px;
    padding: 1% 2%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-bottom: 40px;
    border-bottom: 3px solid var(--grayColor) ;
    border-top: 3px solid var(--grayColor) ;
}

.skill{
    color: var(--whiteColor);
    font-size: 16px;
    font-family: 'Times New Roman', Times, serif;
    letter-spacing: 1px;
    font-weight: 500;
}

.skill>img{
    padding-right: 5%;
}

.Subtitle{
    color: var(--mainColor);
    border-bottom: 1px solid var(--mainColor);
    font-size: 18px;
    text-align: center;
    font-weight: 700;
    letter-spacing: 1px;
    margin-bottom: 0;
    padding-bottom: 2px;
}

@media screen {
    
}