:root{
    --mainColor: #f9004d;
    --blackColor: #101010;
    --blackColor2: #191919;
    --grayColor: hsla(0,0%,100%,.6);
    --skyColor: #4db5ff;
    --whiteColor: white;
    /* var(--..ColorName..) */
}

.AboutMe{
    height: fit-content;
	width: 100%;
    background-color: var(--blackColor2);
    display: flex;
    flex-direction: row;
    padding: 7.5vh 0 7.5vh 0%;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.AboutImage{
width: 350px;
height: 85vh;
border-radius: 30px;
background-color: var(--blackColor);
margin-bottom: 30px;
border-bottom: 3px solid var(--grayColor) ;
border-top: 3px solid var(--grayColor) ;
}

.AboutImage>.image{
    width: 350px;
    height: 85vh;
    border-radius: 30px;
    transform: rotate(10deg);
    transition: 0.7s;
}

.AboutImage>.image:hover{
    transform: rotate(0deg);
}

.AboutData{
    width: 600px;
    height: 85vh;
    padding: 0 5%;
    display: flex;
    flex-direction: column;
}

.AboutTitle{
    color: var(--whiteColor);
    text-align: center;
    font-size: 75px;
    text-transform: capitalize;
    font-family: 'Times New Roman', Times, serif;
}

.SubTitle{
    color: var(--grayColor);
    padding: 5% 0;
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
}

.description{
    padding: 0 0 5% 0;
    letter-spacing: 1px;
    line-height: 30px;
    font-size: 20px;
    color: var(--whiteColor);
    font-family: "labrada";
}

.Reach{
    padding: 10px 25px;
    background-color: var(--mainColor);
    color: var(--whiteColor);
    width: fit-content;
    border-radius: 30px;
}

@media screen and (max-width:500px) {
    .AboutImage>.image{
        width: 350px;
        height: 85vh;
        border-radius: 30px;
        transform: rotate(0deg);
        transition: 0.7s;
    }
}