:root{
    --mainColor: #f9004d;
    --blackColor: #101010;
    --blackColor2: #191919;
    --grayColor: hsla(0,0%,100%,.6);
    --skyColor: #4db5ff;
    --whiteColor: white;
    /* var(--..ColorName..) */
}

/* Header CSS Starting point */
.header{
    padding: 70px;
    background-color: transparent;
    display: flex;
    flex-direction: row;
    color: var(--whiteColor);
    justify-content: flex-end;
    font-size: larger;
}

nav{
    display: flex;
    flex-direction: row;
}

.name{
    font-size: 30px;
    font-weight: bold;
    letter-spacing: 1px;
    cursor: pointer;
}

.name:hover{
    transform: scale(1.2);
}

.navItem{
    font-size: 20px;
    padding:0 0 40px 40px;
    font-weight: bold;
    text-transform: capitalize;
}

.navItem> a{
    color: var(--whiteColor);
}

.navItem> a:hover{
    color: var(--mainColor);
}