:root{
    --mainColor: #f9004d;
    --blackColor: #101010;
    --blackColor2: #191919;
    --grayColor: hsla(0,0%,100%,.6);
    --skyColor: #4db5ff;
    --whiteColor: white;
    --blackColor3: #272727;
    --inputFieldColor: rgba(77,181,255,.4);
    /* var(--..ColorName..) */
}

.Contacts{
    width: 100%;
    height: fit-content;
    background-color: var(--blackColor);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.ContactsTitle{
    text-align: center;
    padding-top: 2% 0;
    margin-bottom: 2%;
}

.ContactsChild{
    width: 100%;
    height: fit-content;
    /* height: 70vh; */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.ContactsSubChild{
    height: 70vh;
    width: 300px;
    border-radius: 30px;
}

.Social{
    width: fit-content;
    height: fit-content;
    margin-bottom: 30px;
}

.SubSocial{
    background-color: var(--blackColor2);
    text-align: center;
    width: 204px;
    border-radius: 15px;
    padding: 1rem;
    margin-bottom: 17.5px;
    border-bottom: 3px solid var(--grayColor) ;
    border-top: 3px solid var(--grayColor) ;
}

.telegram{
    margin-bottom: 0;
}

.SubSocialContent{
    padding-bottom: 10px;
}

.SocialTitle{
    letter-spacing: 2px;
    font-size: 20px;
    font-weight: 600;
    font-family: 'Times New Roman', Times, serif;
    color: var(--whiteColor);
}

.UserName{
    font-size: 15px;
    font-weight: 400;
    color: var(--grayColor);
    letter-spacing: 2px;
}

.ReachMe{
    color: var(--skyColor);
    font-size: 15px;
    letter-spacing: 1px;
    font-family: 'Times New Roman', Times, serif;
}

.form{
    margin-left: 5%;
}

.formChild{
    width: 100%;
    margin-bottom: 20px;
    border-radius: 10px;
    border: 2px solid var(--inputFieldColor);
    background-color: transparent;
    padding-left: 15px;
    letter-spacing: 1px;
    font-size: 16px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 600;
    color: var(--whiteColor);
}

input{
    height: 70px;
}

textarea{
    padding: 20px;
}

.submit{
    background-color: var(--mainColor);
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    color: var(--whiteColor);
    font-size: 16px;
    width: fit-content;
    letter-spacing: 1px;
}

.submit:hover{
    transform: scale(1.3, 1.3);
}

@media screen and (max-width:500px) {
    .Contacts{
        padding-bottom: 80px;
        margin-bottom: 0;
    }
}